@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

body {
	background: url(http://tra437.github.io/images/torchy.jpg);
	color: white;
	font-family: 'Playfair Display', serif;
}

h1, h2 {
	font-family: 'Comfortaa', cursive;; 
	color: white;
}


#slogan{
	font-style: italic;
}

.contact{
	font-weight: bold
}